body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#tools
{
	opacity: 0;
}
.color-choice
{
	position: absolute;
	margin: auto;
	top:0;
	right: 0;
	bottom:0;
	height: 220px;
	padding-right: 100px;

}
#music
{
	font-family: 'Rajdhani', sans-serif;
	font-weight: 300;
	position: absolute;
	left: 30px;
	bottom: 30px;
	color:white;
	font-size: 12px;
	opacity: 0.7;

}
.choice, .custom
{
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	margin-bottom: 30px;
	height: 20px;
	cursor: pointer;
}
.choice div, .custom div
{
	width: 20px;
	height:20px;
	float: left;

}
.custom input
{
	width: 30px;
	height: 30px;
	border: none;
	background: none;
	-webkit-appearance: inherit;
	padding: 0;
}
.choice:hover,.choice.selected{
	opacity: 1;
	cursor: pointer;
}
.thanks
{
	font-family: 'Rajdhani', sans-serif;
	font-weight: 300;
	position: absolute;
	right: 30px;
	bottom: 30px;
	color:white;
	font-size: 12px;
	opacity: 0.7;

}
.shapes
{
	position: absolute;
	margin: auto;
	top:0;
	bottom:0;
	height: 500px;
	width: 250px;
	padding-left: 20px;
}
.geometry
{
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	width: 192px;
	padding-top: 30px;

}
.audio_controls
{
	position: absolute;
	width: 40px;
	padding-left: 45px;
	padding-top: 10px;
}
.audio_controls img
{
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
}
.audio_controls img:hover
{
	opacity: 1;
}
.audio_controls #soundon
{
	display: none;
}
.geometry img
{
	width: 25px;
	padding: 10px;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
}
/*.shapes svg
{
	-webkit-transform:scale(0.2);
}*/
.shapes img
{

	width: 50px;
	cursor: pointer;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	display: block;
	padding: 25px;

}
.shapes img:hover, .shapes img.selected, .geometry img:hover, .geometry img.selected
{
	opacity: 1;
}
